<div ng-controller="SideNavController" ng-cloak>
    <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
    md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Virtual Drawer</h1>
      </md-toolbar>
      <md-content layout-padding>
        <%= form_tag '/upload', { :multipart => true } do %>
            <p>
              <%= file_field_tag 'file' %>
            </p>
            <p>
              <%= text_field_tag 'description', nil, placeholder: 'Enter description here' %>
            </p>
            <p>
              <%= text_field_tag 'tag_name', nil, placeholder: 'Enter tag here' %>
            </p>
            <p>
              <%= text_field_tag 'alternative_name', nil, placeholder: 'Enter item name here' %>
            </p>
            <p>
              <%= hidden_field_tag 'username', 'oneName'%>
            <p>
              <%= submit_tag "Upload" %>
            </p>
        <% end %>
        <form action="/file-upload"
              class="dropzone"
              id="my-dropzone"></form>
        <hr/>
        Navigate: *filter-input*
        <!--<div ><%= render 'partials/tagView'%></div>-->
      </md-content>

    </md-sidenav>

</div>